html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1.5s ease; /* https://css-tricks.com/almanac/properties/t/transition/ */
}

.temp {
    background-color: white;
    color: black;
    padding: 2rem;
}